<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>CONTACT</title>

    <link rel="stylesheet" href= "style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Shantell+Sans&family=Tilt+Prism&display=swap" rel="stylesheet">

    <script src="/templates/script.js"></script>
</head>
<body>
<div id="container">
    <div class="main">
        <form action="https://formspree.io/f/xqkolbwj"  target="_self" method="post">

            <input name="fromEmail" type="email" placeholder="Your email" required>

            <input name="subject" type="text" placeholder= "Subject" maxlength="30" required>

            <textarea name="body" placeholder= "Message" maxlength="312" class="body" required></textarea>

            <button type ="submit" onclick="setTimeout('close()', 1);">SEND</button>

        </form>
    </div>
    <div class ="return">
        <a href = "indexEng.html"><button type ="submit">RETURN</button></a>
    </div>
</div>
</body>
</html>