<!DOCTYPE html>
<html lang="pl" >
<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
    <link rel = "stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Shantell+Sans&family=Tilt+Prism&display=swap" rel="stylesheet">


</head>
<body>
    <div id="container">
        <div id= "rectangle">
            <div id="name">Bartłomiej Barański</div>
            <div id="link">
                <cz><a href ="pliki/CV.pdf">CV</a></cz>
               <cz><a href ="kontakt.html">Kontakt</a></cz>
                <cz><a href ="https://github.com/bambelix000">GitHub</a></cz>
                <a href ="indexEng.html"><img class ="flag" src="pliki/eng.jpg"></a>
            </div>
        </div>

        <div id="square1">
            <div id="foto"><img class="foto" src="pliki/img1.JPG"></div>
            <div id="opis">
                <tx>
                    Cześć, jestem Bartek! Od czerwca 2022r. regularnie programuję w javie.
                    Odkąd pierwszy raz miałem do czynienia z komputerem wiedziałem, że
                    chce wiązać z nim przyszłość. Chciałbym pierwszy raz zetknąć się z
                    profesjonalnymi zadaniami, aby zdobyć doświadczenie i się rozwinąć.
                </tx>
            </div>
        </div>

        <div id="square2">
            <div id="tile1">
                    <tx>
                        <h3>Twarde kompetencje:</h3>
                        - Java na poziomie średniozaawansowanym<br>
                        - Spring boot na poziomie średniozaawansowanym<br>
                        - postgreSQL i SQL<br>
                        - Git i Github<br>
                        - HTML i CSS na poziomie podstawowym<br>
                        - Angielski na poziomie B2<br>
                    </tx>

            </div>
            <div id="tile1">
                <tx>
                    <h3>Miękkie kompetencje:</h3>
                    - Odpowiedzialność<br>
                    - Elastyczność<br>
                    - Obowiązkowość<br>
                    - Pomysłowość<br>
                    - Pracowitość<br>
                </tx>
            </div>
            <div id="project">
                <pro>PROJEKTY</pro>
            </div>
            <div id="tile2"><a href="https://github.com/bambelix000/Chess"><img class ="projects" src ="pliki/chess.png"></a></div>
            <div id="tile2"><cz>2 </cz></div>
            <div id="tile2"><cz>3 </cz></div>


            <div id="foot">
                <tx>
                    2023 &copy; Bartłomiej Barański - Portfolio
                </tx>
            </div>
        </div>
    </div>
</body>
</html>