<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel = "stylesheet" href= "style.css">


</head>
<body>
    <div id="container">
        <div id= "rectangle">
            <div id="name"><p>BARTŁOMIEJ BARAŃSKI</p></div>
            <div id="link">
                <a href ="https://www.google.pl">CV</a>
                <a href ="https://www.google.pl">Contact</a>
                <a href ="https://www.google.pl">GitHub</a>
            </div>
        </div>
        <div id="square">
            <div id="tile">
               <center><img src="img1.JPG"> </center>
            </div>
        </div>
        <div id="square">

        </div>


    </div>
</body>
</html>