<!DOCTYPE html>
<html lang="pl" >
<head>
  <meta charset="UTF-8">
  <title>PORTFOLIO</title>
  <link rel = "stylesheet" href= "style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Shantell+Sans&family=Tilt+Prism&display=swap" rel="stylesheet">


</head>
<body>
  <div id="container">
    <div id= "rectangle">
      <div id="name">Bartłomiej Barański</div>
      <div id="link">
        <a href ="pliki/CV.pdf">CV</a>
        <a href ="contact.html">Contact</a>
        <a href ="https://github.com/bambelix000">GitHub</a>
        <a href ="index.html"><img class ="flaga" src="pliki/pl.jpg"></a>
      </div>
    </div>

    <div id="square1">
      <div id="foto"><img class="foto" src="pliki/img1.JPG"></div>
      <div id="opis">
        <tx>
          Hi, I'm Bartek! I've been coding since June 2022.
          From the first time I dealt with a computer, I knew
          that my future must be related with them. I'd like to
          meet with some professional tasks to gain experience
          and develop myself.
        </tx>
      </div>
    </div>

    <div id="square2">
      <div id="tile1">
        <tx>
          <h3>Hard skills:</h3>
          - Java, intermediate level<br>
          - Spring boot, intermediate level<br>
          - PostgreSQL and SQL<br>
          - Git and Github<br>
          - HTML and CSS, basic level<br>
          - English, B2 level<br>
        </tx>

      </div>
      <div id="tile1">
        <tx>
          <h3>Soft skills:</h3>
          - Responsibility<br>
          - Flexibility<br>
          - Mandatoiry<br>
          - Ingenuity<br>
          - Hard-working<br>
        </tx>
      </div>
      <div id="project">
        <pro>PROJECTS</pro>
      </div>
      <div id="tile2"><cz>1 </cz></div>
      <div id="tile2"><cz>2 </cz></div>
      <div id="tile2"><cz>3 </cz></div>


      <div id="foot">
        <tx>
          2023 &copy; Bartłomiej Barański - Portfolio
        </tx>
      </div>
    </div>
  </div>
</body>
</html>
