<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel = "stylesheet" href= "style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Shantell+Sans&family=Tilt+Prism&display=swap" rel="stylesheet">


</head>
<body>
    <div id="container">
        <div id= "rectangle">
            <div id="name">Bartłomiej Barański</div>
            <div id="link">
                <a href ="CV.pdf">CV</a>
                <a href ="https://www.google.pl">Contact</a>
                <a href ="https://github.com/bambelix000">GitHub</a>
            </div>
        </div>

        <div id="square1">
            <div id="foto"><img src="img.JPG"></div>
            <div id="opis">
                <tx>
                    Cześć, jestem Bartek! Od czerwca 2022r. regularnie programuję w javie.
                    Odkąd pierwszy raz miałem do czynienia z komputerem wiedziałem, że
                    chce wiązać z nim przyszłość. Chciałbym pierwszy raz styknąć się z
                    profesjonalnymi zadaniami, aby zdobyć doświadczenie i się rozwinąć.
                </tx>
            </div>
        </div>

        <div id="square2">
            <div id="tile1">
                <div id="m">
                    <tx>

                    </tx>
                </div>
                <div id="m"></div>

            </div>
            <div id="tile1">

            </div>

        </div>
    </div>
</body>
</html>